
.sign {
  font-size: 1.875rem;
  color: #aaa;
  margin: 0 20px;
}

.ant-btn-round.ant-btn-lg {
  font-size: 18px;
}

a.header-anchor {
  float: none;
  margin: auto;
}

.v-dialog-overlay {
  opacity: 0.7 !important;
  background-color: #5E50A1 !important;
}

.navbar,
.navbar .links {
  background-color: #5E50A1 !important;

  .nav-link {
    color: #ddd;
    font-weight: bold;
  }

  .router-link-active {
    color: #ddd !important;
    font-weight: bold;
  }

  .router-link-exact-active {
    color: #FFB200 !important;
    border-bottom: 2px solid #FFB200 !important;
    border-top: 2px solid #FFB200 !important;
    font-weight: bold;
  }

  .home-link {
    color: #ddd !important;
    border-bottom: 0px solid #5E50A1 !important;
    border-top: 0px solid #FFB200 !important;
  }

  .site-name {
    color: #ddd !important;
  }

}

@media (min-width: @MQMobile) {
  .ant-menu {
    background-color: #5E50A1 !important;
  }

  .ant-menu-horizontal > .ant-menu-item > a {
    display: block;
    color: #ddd;
    font-weight: bold;
  }
}

@media (max-width: @MQNarrow) {
  .reset-mobile-brand {
    margin: 1rem auto;

    img {
      width: calc(25% - 25px);
    }

    .reset-mobile-brand-4 {
      img {
        width: calc(25% - 48px);
      }
    }
  }

  .sign {
    margin: 0 0.2rem;
  }

}

@media (max-width: @MQMobile) {

  .reset-mobile-brand {
    margin: 1rem auto;

    img {
      width: calc(25% - 25px);
    }

    .reset-mobile-brand-4 {
      img {
        width: calc(25% - 36px);
      }
    }
  }

  .sign {
    font-size: 1.4rem;
    margin: 0 .625rem;
  }

}


// @import url(./prism-tomorrow.less);
