<template>
  <div class="login-form">
    <div class="header">
      <img src="/assets/icon_appbar.png" style="height: 100px"/>
    </div>

    <div class="form-header">Email</div>
    <div>
      <input type="text" class="form-control" v-model="email">
      <span v-if="error.email" class="error-text">{{error.email}}</span>
    </div>
    <div class="form-header">Password</div>
    <div>
      <input type="password" class="form-control" v-model="password">
      <span v-if="error.password" class="error-text">{{error.password}}</span>
    </div>

    <div class="btn-row">
      <button class="btn" @click="login">
        OK
      </button>
    </div>
  </div>
</template>

<script>
import {STORAGE_KEY} from './helper'

export default {
  data() {
    return {
      email: '',
      password: '',
      error: {
        email: null,
        password: null,
      },
      emails: ['docs@paxel.co', 'dev@paxel.co'],
      defaultPassword: 'paxel123'
    }
  },
  methods: {
    validMail(mail) {
      return /^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()\.,;\s@\"]+\.{0,1})+([^<>()\.,;:\s@\"]{2,}|[\d\.]+))$/.test(mail);
    },
    login() {
      this.error = {
        email: null,
        password: null,
      }
      if (this.email && this.password) {
        if(this.email && !this.validMail(this.email)) {
          this.error.email = 'Please input a valid Email'
        } else if(this.password && this.password.length <= 6){
          this.error.password = 'Password must be greater than 6 chars'
        } else {
          if(!this.emails.find(q => q === this.email) || this.password !== this.defaultPassword){
            this.$dlg.toast('Your Login details is Invalid', {
              messageType: 'warning',
              closeTime: 3,
              language: 'en',
              position: 'topCenter'
            })
          } else {
            const data = JSON.stringify({
              name: this.email,
              time: new Date().getTime()
            })
            window.localStorage.setItem(STORAGE_KEY, data)
            this.$emit('close', true)
          }
        }
      } else {
        this.$dlg.toast('Please insert your Login details', {
          messageType: 'warning',
          closeTime: 3,
          language: 'en',
          position: 'topCenter'
        })
      }
    }
  }
}
</script>

<style lang="stylus">
.login-form
  padding: 1rem
  display flex
  background-color #5E50A1
  flex-direction column
  box-sizing border-box

  .header
    flex-direction column
    box-sizing border-box
    align-content  center
    align-items center
    display flex
    margin-bottom 40px

  .btn-row
    margin-top 1rem

  .btn
    padding 0.6rem 2rem
    outline none
    background-color #FFB200
    color #5E50A1
    width 100%
    border 0
    border-radius 10px
    margin-top 0.8rem

  .form-header
    color #ffffff
    margin-bottom 0.5rem

  .error-text
    color #FFB200
    margin-bottom 10px
    padding-bottom 10px
    margin-left 5px
    font-size 12pt

  .form-control
    padding 0.6rem
    color #2d2d2d
    border 2px solid #ddd
    border-radius 10px
    width 100%
    margin-bottom 0.8rem
    box-sizing border-box
    outline none
    transition border 0.2s ease

    &:focus
      border 2px solid #aaa


.v-dialog-content
  background-color #5E50A1 !important

  .v-dialog-header
    color #ffffff

  .v-dialog-body
    color #ffffff

  .v-dialog-btn__ok
    color #5E50A1
    background-color #FFB200 !important



</style>
